@import "https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@300&family=Poppins:wght@300&display=swap";

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

/* +++++++++++++++++++++++++++Navigation menu+++++++++++++++++++++++ */
nav {
  background-color: #fff;

  /* border: 1px solid black; */
}

.navbar-brand {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

/* ++++++++++++++++++++Headline section+++++++++++++++++++++++ */

/* headline background image */
.headline-section {
  background-image: url("./images/desktop-main-bg.svg");
  height: 1034px;
  width: 1300px;
}

.headline {
  height: 1434px;
  width: 1472px;
}

.headline-content {
  height: 756px;
  width: 920px;
  padding: 160px 0;
}

.headline-text {
  padding: 20px;
}

.dark,
.green {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #172b4d;
}

.green {
  color: #36b37f;
}

.headline-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
}

/* social icons */
li,
a {
  list-style-type: none;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 16px;
  padding: 30px;
}

.fa-solid,
.fa,
.fa-brands {
  font-size: 23px;
  color: #505f79;
}

.headline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.image {
  padding: 30px;
}

/* ++++++++++++++++++++++++My Recent Works ++++++++++++++++++++++ */
.works {
  width: 1171px;
  height: 1244px;
  height: 100%;
}

.work-cards {
  height: 474px;
  width: 369px;
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
  margin: 5px;
}

.upper-part {
  height: 222px;
  width: 369px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
  background: #ebf0ee;
}

.lower-part {
  background: #fff;
  border-radius: 8px;
  width: 369px;
  height: 250px;
}

.languages-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
}

.lan-rubby {
  align-items: center;
  padding: 8px 12px;
  width: 103px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #172b4d;
}

.lan-css {
  padding: 8px 12px;
  width: 45px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #172b4d;
}

.lan-js {
  padding: 8px 12px;
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #172b4d;
}

.lan-html {
  padding: 8px 12px;
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #172b4d;
}

.works-btn {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.works-btn button {
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.works-title {
  padding-top: 20px;
}

/* ++++++++++++++++++++++++++++About Me Section++++++++++++++++++++++++++ */
.about-me-bg {
  background-image:
    url("/images/about-me-right-bg.svg"),
    url("/images/about-me-left-bg.svg");
  background-position: top right, left bottom;
  background-repeat: no-repeat;
  width: 1300px;
  height: 331px;
}

.about-me {
  padding: 80px 0;
  width: 1171px;
  height: 808px;

  /* height: 100%; */
}

.about-card {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 352px;
  width: 369px;
  margin: 6px;
}

.about-language-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  height: 40px;
  flex-wrap: wrap;
}

.about-language-frame li {
  padding: 9px;
  height: 35px;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.about-title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-para {
  padding: 10px;
  align-items: center;
}

.about-para p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-btn button {
  width: 159px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

/* ++++++++++++++++++++++++++++++++++++Form Section++++++++++++++++++++++++++++++++ */
.contact-form-section {
  /* margin-top: 500px; */
}

.contact-form-bg {
  width: 1300px;
  background-image:
    url("/images/contact-right-bg.svg"),
    url("/images/contact-center-bg.svg"),
    url("/images/contact-left-bg.svg");
  background-position: 100% 80%, 25% 95%, bottom left;
  background-repeat: no-repeat;
  height: 100%;
}

.contact-form {
  gap: 24px;
  width: 1171px;
  height: 490px;
}

input[type="text"] {
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin: 8px;
  height: 48px;
  width: 330px;
}

form {
  /* height: 340px; */
  width: 684px;
  margin: 8px;
  box-sizing: border-box;
  height: 100%;
}

input[type="email"] {
  width: 684px;
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  margin: 8px;
}

textarea {
  width: 684px;
  padding: 12px 20px;
  height: 114px;
  border-radius: 4px;
  margin: 8px;
  border: 1px solid #d0d9d4;
  background: #fff;
}

#formbtn {
  height: 48px;
  padding: 12px;
  margin: 8px;
  gap: 10px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.form-text {
  display: flex;
  align-items: center;
  height: 256px;
  width: 400px;
  border-radius: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 52px;
  color: #172b4d;
}

/* ++++++++++++++++++++++++++++++++++Footer Section++++++++++++++++++++++++++++ */
.footer-section {
  width: 1300px;
  border-top: 1px solid #d0d9d4;
  background-color: #fff;
}

/* +++++++++++++++++++++++++++Breakpoints Mobile-first++++++++++++++++++++++++++ */
@media (min-width: 768px) {
  .humberger-menu {
    display: none;
  }

  .about-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
  }

  body {
    width: 375px;
    margin: 0;
  }

  main {
    width: 375px;
    height: 100%;
    border: 1px solid #c1c7d0;
  }

  /* +++++++++Navbar++++++++++++++ */
  .menu a {
    display: none;
  }

  nav {
    background-color: #fff;
    width: 375px;
  }

  .humberger-menu {
    display: flex;
    width: 375px;
  }

  .left-menu {
    flex: 1;
  }

  .left-menu li {
    width: 90px;
    height: 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #28352f;
  }

  .right-menu li {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .right-menu {
    padding: 5px;
  }

  /* ++++++++Headline++++++++++ */
  .headline-section {
    background-image: url("./images/mobile-bg.svg");
    background-repeat: no-repeat;
    height: 726px;
    width: 375px;
  }

  .dark {
    margin-top: -80px;
  }

  .dark,
  .green {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #172b4d;
    width: 327px;
    line-height: 40px;
  }

  .green {
    color: #36b37f;
  }

  .text-para {
    width: 327px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    align-items: center;
    margin-left: 50px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 375px;
    height: 20px;
    padding: 50px;
  }

  .social-icons li {
    align-items: center;
  }

  /* +++++++++Recent works section+++++++++++ */
  .recent-works-section h1 {
    width: 327px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
    color: #172b4d;
    align-items: center;
    margin-left: 30px;
    margin-top: -30px;
  }

  .works {
    /* width: 375px; */
    height: 1244px;
    height: 100%;
    width: 327px;
    left: 0;
    top: 0;
    border-radius: 8px;
  }

  .about-me-bg {
    background-image:
      url("/images/mobile-up-bg.svg"),
      url("/images/mobile-down-bg.svg");
    background-position: top right, left bottom;
    background-repeat: no-repeat;
    width: 375px;
    height: 331px;

    /* padding: 64px 24px; */
  }

  .about-title h1 {
    width: 351px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: -350px;
  }

  .about-para {
    width: 327px;
    height: 210px;
    padding: 20px;
  }

  .about-para p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .about-me-cards {
    height: 352px;
    margin: 0 5px;
    border-radius: 8px;
  }

  .contact-form-bg {
    background-image: url("/images/contact-form-bg.svg");
    background-position: 100% 80%, 25% 95%, bottom left;
    background-repeat: no-repeat;
    height: 879px;
    width: 375px;
  }

  .about-me {
    height: 1106px;
    width: 375px;
    border-radius: 0;
    padding: 1px;
  }

  .about-card {
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    height: 352px;
  }

  .contact-form-section {
    /* border: 1px solid black; */
    width: 375px;
  }

  input[type="text"] {
    width: 303px;
  }

  .lastname {
    display: none;
  }

  form {
    width: 327px;
    box-sizing: border-box;
    height: 100%;
    margin-left: 15px;
  }

  .form-text {
    width: 327px;
    height: 363px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin: 15px;
  }

  input[type="email"] {
    width: 303px;
  }

  textarea {
    width: 303px;
  }

  .contact-form-btn {
    text-align: center;
  }

  .footer-section {
    width: 375px;
    border-top: 1px solid #d0d9d4;
    background-color: #fff;
  }
}
